.why-mach-wrapper {
  padding: 64px 56px;
  background: url('http://static.cdn.epam.com/uploads/b3dcac368f4b1c5ea87d67e0d682da2e/MACH_CC/MACH-why-section-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  gap: 24px;
  display: flex;
  flex-direction: column;
  align-items: start;

  a {
    text-decoration: underline !important;
    color: #fff !important;
  }
  a:hover {
    opacity: 0.8;
  }
}

.why-mach__text {
  max-width: 1040px;
  line-height: 150%;
}

.kb-craft-content--m,
.kb-craft-content--s {
  .why-mach-wrapper {
    padding: 56px 48px;
  }
}
