.mach-architecture-wrapper {
  gap: 30px;

  .mach-architecture__img_main {
    margin-bottom: 19px;
  }
  .mach-architecture__img_mobile {
    display: none;
  }
}

.mach-architecture__text {
  align-self: start;
  line-height: 150%;
  padding-bottom: 60px;
  margin-bottom: 34px;
  border-bottom: 3px solid #222;
}


.kb-craft-content--m,
.kb-craft-content--s {
  .mach-architecture-wrapper {
    gap: 22px;
  }
   .mach-architecture__img_main {
    margin-bottom: 42px;
  }
  .mach-architecture__text {
    padding-bottom: 54px;
  }
}

.kb-craft-content--s {
  .mach-architecture-wrapper {
    .mach-architecture__img_main {
      display: none;
    }
    .mach-architecture__img_mobile {
      display: block;
      margin-bottom: 14px;
    }
  }
}
