.mach-heroes-wrapper {
  gap: 42px;
}

.hero-board-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.hero-card-container {
  cursor: pointer;
  text-decoration: none !important;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hero-card-container:hover {
  cursor: pointer;
}

.employee-card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  align-items: center;
  width: 228px;
}

.hero-badges-container {
  display: flex;
  height: 80px;
  justify-content: center;
  position: relative;
  bottom: 40px;
}

.hero-badge {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  position: relative;
}

.hero-badge__count {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 18px;
  left: 36px;
  background-color: white;
  border: solid 1px #e5f1fe;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  font-size: 12px;
  color: #222;
  text-align: center;
  font-weight: 700;
  line-height: 24px;
}

.hero-employee__photo {
  width: 236px;
  height: 236px;
  object-fit: cover;
  border-radius: 50%;
  border: 8px solid #f5f5f5;
}

.employee-info-container {
  gap: 2px;
  align-self: stretch;
  margin-top: -45px;
}

.hero-employee__name {
  color: #222;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  line-height: 150%;
}

.hero-employee__role {
  color: #222;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
}

.hero-employee__location {
  color: #4e4e4e;
  text-align: center;
  font-size: 16px;
  line-height: 18px;
}

.mach-heroes-divider {
  height: 8px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.mach-heroes-divider div:first-child {
  background: #2629a4;
  width: 50%;
}

.mach-heroes-divider div:last-child {
  background: #da5644;
  width: 50%;
}

.kb-craft-content--l,
.kb-craft-content--m,
.kb-craft-content--s {
  .mach-heroes-wrapper {
    gap: 34px;
  }
  .employee-info-container {
    gap: 0px;
  }
  .hero-board-container {
    justify-content: center;
    gap: 28px 32px;
  }
  .hero-employee__photo {
    width: 192px;
    height: 192px;
    border: 6px solid #f5f5f5;
  }
  .hero-badges-container {
    height: 72px;
  }
  .hero-badge {
    width: 56px;
    height: 56px;
  }
  .hero-employee__name {
    font-size: 18px;
  }
  .hero-employee__role,
  .hero-employee__location {
    font-size: 15px;
  }
}

