.mach-footer-wrapper {
  background: #101021;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 64px;
  flex-wrap: nowrap;
  padding: 64px 24px;
  color: #fff;
}

.footer-container>img {
  width: 158px;
}

.footer-container section {
  max-width: 50%;
}

.footer-container p {
  opacity: 0.9;
  margin-top: 0px;
  text-align: start;
  margin-bottom: 24px;
}

.footer-container p:last-child {
  margin-bottom: 0;
}

.footer-icon {
  width: 64px;
  height: 64px;
  cursor: pointer;
  object-fit: cover;
  margin-left: -12px;
}

.footer-text {
  line-height: 150%;
}

.footer-links-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.footer-links-item {
  width: 50%;
  padding: 16px 64px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-wrap: nowrap;
}

.footer-links-item a {
  color: #fff !important;
  text-decoration: underline!important;
}

.footer-links-item a:hover {
    opacity: 0.8;
  }

.footer-links-item:first-child {
  text-align: end;
}

.footer-links-item:last-child {
  text-align: start;
}

.kb-craft-content--l .footer-container section {
  max-width: unset;
}

.kb-craft-content--s {
  .footer-links-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-links-item {
    text-align: center;
    width: 100%;
  }

}

.kb-craft-content--m,
.kb-craft-content--s {
  .footer-container {
    flex-direction: column;
    gap: 36px;

    section {
      max-width: 100%;
    }

    padding: 56px 48px;
  }

  .footer-links-item {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    font-size: 14px;
  }
}