.mach-footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #101021;
}

.footer-menu-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 64px;
  flex-wrap: nowrap;
  padding: 64px 24px;
  color: #fff;
}
.footer-menu-container > img {
  width: 158px;
}

.footer-menu-container section {
  max-width: 50%;
}
.footer-menu-container p {
  margin-top: 0px;
  text-align: start;
  margin-bottom: 24px;
}

.footer-menu-container p:last-child {
  margin-bottom: 0;
}
.footer-icon {
  width: 64px;
  height: 64px;
  cursor: pointer;
  object-fit: cover;
  margin-left: -12px;
}

.footer-text {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
}
.footer-links-container {
  height: 56px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.footer-links-item {
  width: 50%;
  padding: 16px 64px;
  color: #fff;
}

.footer-links-item a {
  color: #fff;
}

.footer-links-item:first-child {
  text-align: end;
}

.footer-links-item:last-child {
  text-align: start;
}
